@model empodelas.Models.ProdutoServico

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/produto.css">

<h4>@Html.DisplayFor(model => model.Tipo_produtoServico)</h4>
<h1>@Html.DisplayFor(model => model.Nome_produtoServico)</h1>
<hr />
<div class="row">
    <div class="col">
        <img src="@Html.DisplayFor(model => model.Imagem_produtoServico)" />
    </div>
    <div class="col">
        <dl class="row">
            <dt class="col-sm-10">
               Código:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Codigo_produtoServico)
            </dd>
            <dt class="col-sm-10">
              Descrição:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao_produtoServico)
            </dd>
            <dt class="col-sm-10">
                Preço:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Preco_produtoServico)
            </dd>
            <dt class="col-sm-10">
                Nome do negócio
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NomeNegocio_autonoma)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
