@model IEnumerable<empodelas.Models.ProdutoServico>

@{
    ViewData["Title"] = "Index";
}
<style>
    body{
        overflow-x: hidden;
    }
    
   
</style>

<h1>Página inicial Administrador</h1>

<p>
    <a asp-action="Create">Criar um novo</a>
</p>
<table class="table">
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_produtoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_produtoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_produtoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao_produtoServico)
            </td>
            @if (item.Imagem_produtoServico == null)
            {
        <td>
            <span class="badge badge-danger">Não contém imagem</span>
        </td>
        
                }
                else
                {
        <td>
            <span class="badge badge-success">Contém imagem</span>
        </td>
        
                }
            
            <td>
                @Html.DisplayFor(modelItem => item.Preco_produtoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeNegocio_autonoma)
            </td>
            @if(item.FK_id_autonoma == 0)
                {
        <td>
            <span class="badge badge-danger">FK não relacionada</span>
        </td>
        

                }
                else
                {
        <td>
            @Html.DisplayFor(modelItem => item.FK_id_autonoma)
        </td>
                }
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_produtoServico">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_produtoServico">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_produtoServico">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
