@model IEnumerable<empodelas.Models.ProdutoServico>

@{
    ViewData["Title"] = "Index";
}

<h1>Página inicial Administrador</h1>

<p>
    <a asp-action="Create">Criar um novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_produtoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_produtoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_produtoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao_produtoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem_produtoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco_produtoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeNegocio_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_id_autonoma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_produtoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_produtoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_produtoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao_produtoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem_produtoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco_produtoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeNegocio_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_id_autonoma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_produtoServico">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_produtoServico">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_produtoServico">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
