@model IEnumerable<empodelas.Models.Autonoma>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Crie um novo</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTelefone_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeNegocio_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContatoNegocio_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNegocio_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoNegocio_autonoma)
            </td>
            @if (item.ComprovanteResid_autonoma == null)
            {

        <td>
            <span class="badge badge-danger">Comprovante não registrado</span>
           
        </td>
            }
            else
            {
        <td>
            <span class="badge badge-success">Comprovante registrado</span>
            
        </td>
            }

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_autonoma">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_autonoma">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_autonoma">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
