@model IEnumerable<empodelas.Models.Autonoma>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNasc_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumTelefone_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeNegocio_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContatoNegocio_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNegocio_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoNegocio_autonoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComprovanteResid_autonoma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTelefone_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeNegocio_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContatoNegocio_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNegocio_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoNegocio_autonoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComprovanteResid_autonoma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_autonoma">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_autonoma">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_autonoma">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
